<div class="formInfoField section-loading">
    {{ form_start(form_info) }}
    <div class="section-content-wrapper-equalBox">
        <div class="section-content-wrapper-top">
            <div class="section-content-wrapper-top-header with-margin">Kwota pożyczki:</div>
            <div class="section-content-wrapper-top-inputBox">
                <div class="section-content-wrapper-top-inputBox-input"><input type="text" value="100000" id="amountInput"></div>
                <div class="section-content-wrapper-top-inputBox-label">PLN</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="sliderContainer">
            <div id="amountSlider"></div>
        </div>
        <div class="section-content-wrapper-slider-labels">
            <div class="section-content-wrapper-slider-labels-min">10 000 PLN</div>
            <div class="section-content-wrapper-slider-labels-max">1 000 000 PLN</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="section-content-wrapper-equalBox">
        <div class="section-content-wrapper-top">
            <div class="section-content-wrapper-top-header with-margin">Okres spłaty:</div>
            <div class="section-content-wrapper-top-inputBox">
                <div class="section-content-wrapper-top-inputBox-input"><input type="text" value="12" id="periodInput"></div>
                <div class="section-content-wrapper-top-inputBox-label">mc</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="sliderContainer">
            <div id="periodSlider"></div>
        </div>
        <div class="section-content-wrapper-slider-labels">
            <div class="section-content-wrapper-slider-labels-min">1 mc</div>
            <div class="section-content-wrapper-slider-labels-max">36 mc</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="section-content-wrapper-equalBox full">
        <div class="form">
            <div class="summation-row">
                <div class="summation-row-label">Typ spłaty:</div><div class="summation-row-description">{{ form_widget(form_info.intRepaymentMethod) }}</div>
            </div>
            <div class="clear"></div>
            <div class="summation-row">
                <div class="summation-row-label">Cel pożyczki:</div><div class="summation-row-description">{{ form_widget(form_info.strPurpose) }}</div>
            </div>
            <div class="clear"></div>
            <div class="summation-row">
                <div class="summation-row-label">Typ zabezpieczenia:</div><div class="summation-row-description">{{ form_widget(form_info.strTypeOfSecurity) }}</div>
            </div>
            <div class="clear"></div>
            <div class="summation-row">
                <div class="summation-row-label">Opis zabezpieczenia:</div><div class="summation-row-description">{{ form_widget(form_info.strTypeOfSecurityDescription) }}</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="buttons-wrapper">
        <div class="buttons-wrapper-button right">
            <input type="submit" class="darkButton" value="Zapisz zmiany">
        </div>
        <div class="clear"></div>
    </div>
    {{ form_widget(form_info) }}
    {{ form_end(form_info) }}
    <div class="clear"></div>
</div>
<div class="section-content-wrapper-biggerBox formSummationField">
    <div class="section-content-wrapper-top">
        <div class="section-content-wrapper-top-header">Szczegóły pożyczki:</div>
        {#        <a id="detailsForm" href="{{ url('app_frontend_borrower_detailsForm', { id: credit.id }) }}"><div class="btn-edit">edytuj szczegóły</div></a>#}
        <div class="btn-edit" id="editDetails">edytuj szczegóły</div>
        <a href='{{ url('app_frontend_borrower_creditCancel', { id: credit.id }) }}'><div class="btn-cancel">anuluj wniosek pożyczki</div></a>
        <div class="clear"></div>
    </div>

    <div class="summation">
        <div class="summation-row">
            <div class="summation-row-label">Kwota pożyczki:</div>
            <div class="summation-row-description">{{ credit.creditAmountLabel(' ') }} PLN</div>
        </div>
        <div class="summation-row">
            <div class="summation-row-label">Okres spłaty:</div>
            <div class="summation-row-description">{{ credit.replaymentTime }} mc</div>
        </div>
        <div class="summation-row">
            <div class="summation-row-label">Typ spłaty:</div>
            <div class="summation-row-description">{{ credit.replaymentMethodLabel }}</div>
        </div>
        <div class="summation-row">
            <div class="summation-row-label">Cel pożyczki:</div>
            <div class="summation-row-description">{{ credit.purpose }}</div>
        </div>
        <div class="summation-row">
            <div class="summation-row-label">Typ zabezpieczenia:</div>
            <div class="summation-row-description">{{ credit.typeOfSecurity }}</div>
        </div>
        <div class="summation-row">
            <div class="summation-row-label">Opis zabezpieczenia:</div>
            <div class="summation-row-description">{{ credit.typeOfSecurityDescription }}</div>
        </div>
        <div class="summation-row">
            <div class="summation-row-label">Pliki do pobrania:</div>
            <div class="summation-row-description">
                {% for fileToDownload in credit.filesToDownload %}
                <a class="summation-row-description-file {{ fileToDownload.classname }}" href="{{ asset(fileToDownload.path) }}" download>{{ fileToDownload.filename }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="summation-row">        
            <div class="summation-row-label">Zdjęcia:</div>
            <div class="summation-row-description">
                {% for image in credit.images %}
                <a href="{{ asset(image.path) }}" data-toggle="lightbox"><img src="{{ asset(image.path) }}" width="100" /></a>
                    {% endfor %}

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#detailsForm').click(function() {
            $t = $(this);
            $.ajax({
                url: $t.attr('href'),
                type: 'GET',
                success: function(r) {
                    alert(r);
                }
            });
            return false;
        });

        $('#editDetails').click(function() {
            $('.formInfoField').show();
            $('.formSummationField').hide();
        });
    });
</script>
<script>
    $(document).ready(function() {
        $("#amountSlider").slider({
            range: "min",
            value: 100000,
            min: 10000,
            max: 1000000,
            animate: true,
            step: 1000,
            slide: function(event, ui) {
                $("#amountInput").val(ui.value);
                updateSimulation();
            }
        });

        $("#periodSlider").slider({
            range: "min",
            value: 12,
            min: 1,
            max: 36,
            animate: true,
            step: 1,
            slide: function(event, ui) {
                $("#periodInput").val(ui.value);
                updateSimulation();
            }
        });

        $("#amountInput").change(function() {
            if ($(this).val() < 10000) {
                $(this).val("10000");
            }
            else if ($(this).val() > 1000000) {
                $(this).val("1000000");
            }
            $("#amountSlider").slider("value", $(this).val());

            updateSimulation();
        });

        $("#periodInput").change(function() {
            if ($(this).val() < 1) {
                $(this).val("1");
            }
            else if ($(this).val() > 36) {
                $(this).val("36");
            }
            $("#periodSlider").slider("value", $(this).val());

            updateSimulation();
        });

        function updateSimulation() {
            var amount = parseInt($("#amountInput").val());
            var period = parseInt($("#periodInput").val());

            var interest = amount * (0.12 * (period / 12));
            interest = Math.round(interest * 100) / 100;
            var commission = 0.01 * amount;
            commission = Math.round(commission * 100) / 100;

            var sum = amount + interest + commission + 1000;

            $("#simulationStartAmount").text(amount + " PLN");
            $("#simulationPeriod").text(period + " mc");
            $("#simulationInterest").text(interest + " PLN");
            $("#simulationCommission").text(commission + " PLN");
            $("#simulationEndAmount").text(sum + " PLN");
        }

        $formName = '{{ form_info.vars.name }}';

        if ($('#' + $formName + '_intCreditAmount').val() != '') {
            $("#amountInput").val($('#' + $formName + '_intCreditAmount').val());
            $("#amountSlider").slider("value", $('#' + $formName + '_intCreditAmount').val());
        }

        if ($('#' + $formName + '_intRepaymentTime').val() != '') {
            $("#periodInput").val($('#' + $formName + '_intRepaymentTime').val());
            $("#periodSlider").slider("value", $('#' + $formName + '_intRepaymentTime').val());
        }
        updateSimulation();


        $('form[name="' + $formName + '"]').submit(function() {
            ajaxStart();
            var amount = parseInt($("#amountInput").val());
            var period = parseInt($("#periodInput").val());
            $('#' + $formName + '_intCreditAmount').val(amount);
            $('#' + $formName + '_intRepaymentTime').val(period);
            $t = $(this);
            $.ajax({
                url: '{{ url('app_frontend_borrower_detailsFormSave', {id: credit.id}) }}',
                type: 'POST',
                data: $t.serialize(),
                success: function(r) {
                    ajaxStop();
                    if (r.status === 'success') {
                        generateNoty('<div class="activity-item"> <i class="fa fa-check text-danger"></i> <div class="activity"> ' + r.message + ' </div> </div>', 'success');
                    } else {
                        generateNoty('<div class="activity-item"> <i class="fa fa-exclamation-triangle text-danger"></i> <div class="activity"> ' + r.message + ' </div> </div>', 'error');
                    }
                }
            });

            return false;
        });

        function ajaxStart()
        {
            $loadingDiv = $('<div id="loading"><div class="three-bounce"><div></div><div></div><div></div></div></div>');
            $loadingDiv.hide();
            $('.formInfoField').prepend($loadingDiv);
            $('.formInfoField').find('#loading').fadeIn('500');
        }

        function ajaxStop()
        {
            $('.formInfoField').find('#loading').fadeOut('500', function() {
                $(this).remove();
            });
        }

        function generateNoty(text, type) {
            var n = noty({
                text: text,
                type: type,
                dismissQueue: true,
                layout: 'topLeft',
                closeWith: ['click'],
                theme: 'relax',
                maxVisible: 10,
                animation: {
                    open: 'animated bounceInLeft',
                    close: 'animated bounceOutLeft',
                    easing: 'swing',
                    speed: 500
                }
            });
        }

    });
</script>